*.iml
build/
.idea/
bin
gen
*/private/**
apk-build/**
.DS_Store
local.properties
obj/
*.o
*.o.d
*.so
gdb.setup
gdbserver
# *.jar
*.xcuserstate
UserInterfaceState.xcuserstate
.gradle/
latex/

android-query-full.0.25.10.jar
# AndridersCentralEngine/res/drawable/*.png
